doctype html
html
  head
    title My MetaLamp Project
    
  body.page
  
    h1 Hello, World!
    include ../components/button/button.pug
    include ../components/header/header.pug
    +button('button', 'submit', '', '', '')
  | Отправить